<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/stylesheets/styleProfile.css" />
  <body>
    <%- include('../partials/header', { currentPage: 'profile' }) %>
    <main>
      <div class="profileMainContent">
        <section class="profileSection">
          <div class="profileForm">
            <div class="profileHeader">
              <h1>User Profile</h1>
            </div>
            <div class="profileInfo">
              <p><strong>Full Name: </strong><%= user.fullname %></p>
              <p><strong>Email: </strong><%= user.email %></p>
              <p><strong>Phone Number: </strong><%= user.phonenumber %></p>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>