<header class="header">
    <nav class="nav-links">
        <a href="/" class="logo">
            <img src="/images/logo.png" alt="Website logo" />
        </a>
        <a href="/products" class="<%= currentPage === 'products' ? 'active' : '' %>">
            <i class="fa-solid fa-box"></i> Products
        </a>
        <a href="/orders" class="<%= currentPage === 'orders' ? 'active' : '' %>">
            <i class="fa-solid fa-receipt"></i> My orders
        </a>
        <a href="/sales" class="<%= currentPage === 'sales' ? 'active' : '' %>">
          <i class="fa-solid fa-dollar-sign"></i> Sales
        </a>
        <a href="/chat" class="<%= currentPage === 'chat' ? 'active' : '' %>">
            <i class="fa-solid fa-message"></i> Chat
        </a>
    </nav>
    <nav class="nav-links">
        <% if(user) {%>
            <div class="profileDropdown">
                <button class="dropdownButton" data-toggle="dropdown">
                    <i class="fa-solid fa-user"></i> <%= user.fullname %><i class="fa-solid fa-angle-up toggle-icon"></i>
                </button>
                <div class="dropdownContent" id="profileDropdownContent">
                    <a href="/profile"><i class="fa-solid fa-id-badge"></i>Profile</a>
                    <a href="/profile/edit"><i class="fa-solid fa-user-pen"></i>Edit Profile</a>
                    <a href="/profile/change-password"><i class="fa-solid fa-lock"></i>Change Password</a>
                    <a href="/profile/user-rating"><i class="fa-solid fa-hand-holding-heart"></i>User Rating</a>
                    <a href="/profile/logout"><i class="fa-solid fa-right-from-bracket"></i>Log Out</a>
                </div>
            </div>
            <a href="/cart" class="<%= currentPage === 'cart' ? 'active' : '' %> cartNavLink">
                <i class="fa-solid fa-cart-shopping"></i>
                <% if (cartCount > 0) { %>
                <span id="cartCount" class="cartBadge"><%= cartCount %></span>
                <% } else { %>
                <span id="cartCount" class="cartBadge" style="display:none;">0</span>
                <% } %>
            </a>
        <% } else { %>
            <a href="/login">
                <i class="fa-solid fa-right-to-bracket"></i> Login
            </a>
        <% } %>
    </nav>
</header>