<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header', { currentPage: 'products' }) %>
    <main>
      <div class="mainContent">
        <section class="tabContainer">
          <div>
            <a href="/products/purchase" class="<%= currentTab === 'purchase' ? 'tabActive' : '' %>">Purchase</a>
            <a href="/products/sell" class="<%= currentTab === 'sell' ? 'tabActive' : '' %>">Sell</a>
          </div>
        </section>
        <div class="tabContent">
          <% if (currentTab === 'purchase') { %>
            <h2>Purchase</h2>

          <% } else if (currentTab === 'sell') { %>
            <h2>Sell</h2>

          <% } %>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>